/* src/components/Contacto.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.contacto {
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.contacto h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: inline-block;
  max-width: 500px;
  width: 100%;
  margin: 0; /* Asegura que el formulario no tenga márgenes automáticos */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #45a049;
}
